<?xml version="1.0" encoding="utf-8" ?>
<log4net>
    <logger name="dealstealunreal.com">
        <level value="TRACE" />
        <appender-ref ref="DSUServiceAppender" />
    </logger>
    
    <appender name="DSUServiceAppender" type="log4net.Appender.RollingFileAppender">
        <file value="C:\\Users\\Nathan\\DSU\\logs\\DSU.log" />
        <appendToFile value="true" />
        <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
        <rollingStyle value="Size" />
        <maxSizeRollBackups value="7" />
        <maximumFileSize value="10MB" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%d [%2thread] %-5p %35.35c{1} - %m%n" />
        </layout>
    </appender>
</log4net>