<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
 
  <connectionStrings>
    <add name="ReadonlyDatabase" connectionString="Data Source=tcp:esql2k804.discountasp.net;Initial Catalog=SQL2008R2_934613_dealstealun;User ID=SQL2008R2_934613_dealstealun_user;Password=nathan" />
    <add name="ReadWriteDatabase" connectionString="Data Source=tcp:esql2k804.discountasp.net;Initial Catalog=SQL2008R2_934613_dealstealun;User ID=SQL2008R2_934613_dealstealun_user;Password=nathan" />
  </connectionStrings>

  <appSettings>
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    
    <add key="ReCaptchaPrivateKey" value="6Lc5KOcSAAAAABFUjKJ89r2580HtdW-dr3WN1rdu" />
    <add key="ReCaptchaPublicKey" value="6Lc5KOcSAAAAAFnm6ZbxTCfk4SBAV4O0uhLR2pxQ" />

    <add key="FacebookAppID" value="646557228688378" />
    <add key="FacebookAppSecret" value="e22f853de9d5af3c7a0b5ad84b34edd0" />
 
    <add key="SmtpSsl" value="true"/>
    <add key="SmtpUseCredential" value="true"/>
    <add key="SmtpPort" value="465"/>
    <add key="SmtpHost" value="mail.dealstealunreal.com"/>
    <add key="SmtpAccount" value="admin@dealstealunreal.com"/>
    <add key="SmtpPassword" value="nathan"/>
    <add key="EmailFrom" value="admin@dealstealunreal.com"/>

    <add key="PointPerVote" value="5"/>
    <add key="Deal" value="0.04"/>
    <add key="Steal" value="0.05"/>
    <add key="Unreal" value="0.03"/>
    
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <httpRuntime maxRequestLength="10485760" enableVersionHeader="false" maxQueryStringLength="3584" executionTimeout="600"/>
    
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
